asgiref==2.3.2
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
certifi==2019.11.28
channels==2.1.7
chardet==3.0.4
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
daphne==2.2.5
decorator==4.4.2
Django==2.2.10
django-coreapi==2.3.0
django-rest-swagger==2.2.0
djangorestframework==3.8.2
hyperlink==18.0.0
idna==2.9
incremental==17.5.0
itypes==1.1.0
Jinja2==2.11.1
kafka-python==1.4.6
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.1
networkx==2.4
numpy==1.18.2
openapi-codec==1.3.2
pandas==0.25.3
protobuf==3.7.1
PyHamcrest==1.9.0
pyparsing==2.4.5
PyQt5==5.14.1
PyQt5-sip==12.7.2
python-dateutil==2.8.1
pytz==2019.1
redis==2.10.6
requests==2.23.0
simplejson==3.17.0
six==1.12.0
sqlparse==0.3.0
Twisted==18.9.0
txaio==18.8.1
uritemplate==3.0.1
urllib3==1.25.8
wheel==0.26.2
dmPython==2.3.0
django-dmPython==2.2.3
interval==1.0.0
xmltodict==0.12.0
zope.interface==4.6.0
